.HeaderTypo {
  color: #ff585d;
  font-weight: 400;
}

.HeaderTypo span {
  color: #767676;
  font-weight: 300;
}

.ReviewerText {
  color: #767676;
  font-weight: 300;
}

.ReviewerText span {
  color: #ff585d;
  font-weight: 400;
}
